<div class="navbar navbar-expand-lg navbar-light border-bottom-0 border-top">
    <div class="text-left d-lg-none w-100">
        <span class="navbar-text">
            &copy; 2023. <a href="https://esmodjakarta.com" target="_blank">ESMOD Jakarta</a>
             <!-- by <a href="#" target="_blank">BuDS</a> -->
        </span>
        <button type="button" class="navbar-toggler dropdown-toggle float-right" data-toggle="collapse" data-target="#navbar-footer">
            <i class="icon-unfold mr-2"></i>
            Footer
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text d-none d-lg-inline">
            &copy; 2023. <a href="https://esmodjakarta.com" target="_blank">ESMOD Jakarta</a>
             <!-- by <a href="#" target="_blank">BuDS</a> -->
        </span>

        <!-- <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a href="#" class="navbar-nav-link justify-content-center" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
            <li class="nav-item"><a href="#" class="navbar-nav-link justify-content-center" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
        </ul> -->
    </div>
</div>