<div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
    <div class="py-3 container-fluid">
        <div class="row">
            <div class="col-sm text-center text-sm-left text-muted">
                <span class="o_footer_copyright_name mr-2">
                  &copy;
  ESMOD Jakarta
  2024
                </span>
                <span class="social-media-container">
                    <a href="https://www.facebook.com/ESMOD-Jakarta-19882372881/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/ESMODjakarta" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/esmodjakarta/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCFK9326GANeMVlE2A45z45A?feature=results_main" target="_blank">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </span>
            </div>
            <div class="col-sm text-center text-sm-right o_not_editable">
                <span></span>
            </div>
        </div>
    </div>
</div>