<div class="sidebar d-lg-flex sidebar-main sidebar-expand-lg">
    <div class="brand">
        

        <div class="d-flex flex-1">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-paragraph-justify3"></i>
            </button> -->
            <div class="d-flex">
                <img
            src="../assets/img/logo.png"
            alt="ESMOD"
            class="img-fluid"
            loading="lazy"
        >
            </div>
            
            <button class="navbar-toggler sidebar-mobile-main-toggle d-xl-none" type="button">
                <!-- <i class="icon-transmission"></i> -->
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
    </div>
    <div class="menus">
        <a href="./dashboard.html">Dashboard</a>
        <a href="./user_profile.html">Student Profile</a>
        <a href="./invoice_list.html">Student Payment</a>
        <a href="./lecture_schedule.html">Lecture Schedule</a>
        <a href="./study_plan.html">Student Study Plan (KRS)</a>
        <a href="./study_transcript.html">Transcript</a>
        <a href="./study_scoring.html">Scoring Evaluation Form (KHS)</a>
        <a href="./payment_history.html">Payment History</a>
    </div>
</div>