<div class="sidebar d-lg-flex sidebar-main sidebar-expand-lg">
    <div class="brand">
        

        <div class="d-flex flex-1">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-paragraph-justify3"></i>
            </button> -->
            <div class="d-flex">
                <img
            src="../assets/img/logo.png"
            alt="ESMOD"
            class="img-fluid"
            loading="lazy"
        >
            </div>
            
            <button class="navbar-toggler sidebar-mobile-main-toggle d-xl-none" type="button">
                <!-- <i class="icon-transmission"></i> -->
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
    </div>
    <div class="menus">
        <a href="/my/invoices" class="active">Invoices</a>
    </div>
</div>